*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    color: white;
    text-transform: uppercase;
}
#march-login{
    width: 100%;
    height: 60vh;
    margin: 30px 0;
}
#march-login h2, #march-login p{
    margin: 30px 0;
}
.discription{
    font-size: 14px;
    color: yellow;
}
.error{
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: red;
}
#march-login input, #march-login button{
    width: 90%;
    min-height: 30px;
    border-radius: 5px;
}
#march-login label{
    display: inline-block;
    width: 100%;
    font-size: 12px;
    color: yellow;
}
#march-login button{
    cursor: pointer;
    margin: 10px 0;
    text-transform: uppercase;
    padding: 3px;
    background-color: rgb(0, 180, 50);
    color: yellow;
    border: 0;
}
div{
    width: 100%;
    text-align: center;
}
div ul{
    width: 100%;
    min-height: 100px;
}
div ul li{
    list-style: none;
}
#head{
    background-color: rgba(212, 0, 99, 0.5);
    height: 100px;
}
#head h1{
    padding: 30px 0;
}
#msgBlock{
    position: sticky;
    top: 0;
    width: 100%;
    min-height: 30px;
    padding: 10px 0 0 0;
    font-size: 15px;
    background-color: rgb(100, 100, 100);
    text-transform: uppercase;
}
#msgBlock p{
    line-height: 15px;
    animation: toastHide 3s;
    animation-fill-mode: forwards
}
#ratesTable{
    background-color: rgba(128, 255, 0, 0.5);
    margin: 0;
}
#ratesTable h3{
    font-size: 20px;
    min-height: 25px;
    background-color: rgb(0, 30, 30);
    color: white;
    text-align: left;
}


.rate-show{
    width: 100%;
    min-height: 70px;
    background-color: teal;
    margin: 5px 0;
}
.rate-show .detail{
    width: 100%;
    text-align: center;
}
.rate-show .detail label{
    display: block;
    width: 100%;
    font-size: 25px;
    letter-spacing: 5px;
}
.detail .input-rate{
    width: 58%;
    height: 35px;
}
.detail .checkbox-avl{
    width: 10%;
    height: 25px;
}
.detail .expander{
    cursor: pointer;
    display: inline-block;
    width: 60px;
    margin-left: 5%;
    background-color: rgb(59, 140, 253);
}
.more-detail{
    display: none;
    transition: 500ms;
}
.more-detail input{
    width: 85%;
    height: 25px;
    margin: 5px 0;
}
.update, .delete{
    cursor: pointer;
    display: inline-block;
    width: 60px;
    margin: 5px 60px;
}
.delete{
    background-color: rgba(255, 30, 30, 0.7);
}
.update{
    background-color: rgba(30, 238, 30, 0.8);
}


#addNew{
    width: 100%;
}
#add-form{
    background-color: rgba(0, 255, 200, 0.5);
    width: 100%;
    margin-top: 5px;
    padding: 5px 0;
}
#add-form .name{
    width: 90%;
    height: 30px;
    margin: 2px 0;
}
#add-form #info{
    width: 25.5%;
    height: 30px;
}
#add-form #link{
    width: 64%;
    height: 30px;
}
#add-form #rate{
    width: 90%;
    height: 30px;
    margin: 2px 0;
}
.catogary, .avl, .per{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 15px;
    width: 90%;
    margin: 5px 5%;
    border-radius: 5px;
}
.catogary{
    background-color: rgba(255, 255, 255, 0.3);
}
.avl{
    background-color: rgba(46, 133, 255, 0.3);
}
.per{
    background-color: rgba(94, 236, 255, 0.3);
}
.catogary div, .per div{
    cursor: pointer;
    width: 25%;
    margin: 5px;
    padding: 5px 0;
}
.catogary div{
    background-color: rgba(255, 150, 0, 0.5);
}
.per div{
    background-color: rgba(0, 255, 0, 0.5);
}
.avl div{
    cursor: pointer;
    width: 100%;
    font-size: 15px;
    letter-spacing: 3px;
}
#logout, #add-form button{
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: teal;
    padding: 1px;
    text-shadow: rgb(0, 0, 0) -1px 1px;
}
#add-form button{
    display: block;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 3px;
    width: 60%;
    height: 30px;
    margin: 10px 20%;
    color: rgb(0, 0, 0);
    border: 1px rgb(0, 0, 0) solid;
    border-radius: 5px;
    background-color: rgba(0, 255, 255, 0.8);
    text-shadow: rgb(255, 200, 0) -1px 1px;
    box-shadow: rgb(255, 200, 0) -1px 1px 1px, rgb(255, 255, 255) 1px -1px 1px;
    cursor: pointer;
    text-transform: uppercase;
    z-index: 100;
}
#logout, #getrate{
    cursor: pointer;
    border: rgb(14, 0, 138) 2px solid;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 20px;
    z-index: 100;
}
#logout{
    margin: 35vh 0 20px 20px;
    background-color: rgba(255, 55, 55, 0.7);
}
#getrate{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgb(255, 255, 255);
}
@keyframes toastHide{
    0%{
        opacity: 1;
        color: rgb(255, 255, 0);
    }
    60%{
        opacity: 1;
        color: rgb(0, 255, 0);
    }
    100%{
        display: none;
        opacity: 0;
        color: rgb(255, 0, 0);
    }
}