@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@700&family=Permanent+Marker&display=swap');
/*  
    font-family: 'Alegreya', serif;
    font-family: 'Permanent Marker', cursive;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 0);
}
#head{
    width: 100%;
    height: 90px;
    position: sticky;
    top: 0;
    text-align: center;
    background: hsla(152, 100%, 50%, 1);
    background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);    
    font-family: 'Permanent Marker', cursive;
    font-weight: 900;
    text-shadow: rgb(0, 0, 0) -2px 1px 2px, rgb(0, 0, 0) 1px -1px 1px;
    text-transform: uppercase;
    z-index: 100;
}
#head::after{
    content: '';
    display: block;
    width: 100%;
    height: 10px;
    background-color: black;
    position: relative;
    bottom: -5px;
}
#ratesTable{
    width: 100%;
}
.container{
    width: 98%;
    margin: 1%;
    min-height: 240px;
    background-color: rgba(0, 0, 0, 0.4);
    border: hsla(152, 100%, 60%) 1px solid;
    border-radius: 0 0 15px 15px;
}
.container h3{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Alegreya', serif;
    font-weight: 500;
    letter-spacing: 2px;
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 255) -2px 2px 2px;
    background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%);    
    line-height: 40px;
}
.container ul{
    text-align: center;
}
.container ul li{
    list-style: none;
    width: 99%;
    height: 40px;
    margin: 5px 5px;
    text-transform: uppercase;
    font-family: 'Alegreya', serif;
}
.detail{
    height: 25px;
    font-weight: 900;
}
.status{
    height: 15px;
    font-size: 10px;
    color: yellow;
}
.name{
    float: left;
    margin: 0 0 0 10px;
}
.rate{
    float: right;
    margin: 0 10px 0 0;
}
.stock{
    float: left;
    margin: 0 0 0 10px;
}
.inStock{
    color: yellowgreen;
}
.outOfStock{
    color: tomato;
}
.eta{
    position: absolute; 
    right: 0;
    margin: 0 2% 0 0;
}
.container ul li::after{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: hsla(152, 100%, 50%, 1);
    background: linear-gradient(90deg, hsla(152, 100%, 50%, 1) 0%, hsla(186, 100%, 69%, 1) 100%); 
}

#ad{
    width: 98%;
    min-height: 100px;
    margin: 1%;
    border: hsla(186, 100%, 69%, 1) 1px solid;
    border-radius: 5px;
    background-color: hsla(152, 100%, 50%, 0.5);
}
#getrate{
    cursor: pointer;
    display: block;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 60px;
    right: 20px;
    font-size: 25px;
    background-color: rgb(255, 255, 255);
    border: yellow 1px solid;
    border-radius: 50%;
    z-index: 100;
    box-shadow: rgb(255, 200, 0) 2px 1px 1px;
}
#foot{
    margin: 20px 0;
    width: 100%;
    text-align: center;
    font-family: 'Alegreya', serif;
    font-size: 12px;
    background: rgb(0, 0, 0);
    font-weight: 300;
    color: rgb(255, 255, 255);
}
#foot a:any-link{
    text-decoration: none;
    background-color: hsla(186, 100%, 69%, .1);
    color: yellow;
}