/*  
font-family: 'Kalam', cursive;
font-family: 'Poppins', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 0);
}
#head{
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    background: hsla(152, 100%, 50%, 1);
    background: linear-gradient(90deg, rgb(0, 255, 155) 0%, rgb(50, 150, 255) 100%);
    font-family: 'Poppins', sans-serif;
    color: black;
    text-shadow: rgb(255, 255, 255) -1px 1px;
    text-transform: uppercase;
    z-index: 100;
}
.head-name{
    width: 80%;
}
#head h1{
    line-height: 30px;
    padding-top: 5px;
    margin-left: 10px;
    letter-spacing: 3.5px;
}
#head h2{
    line-height: 15px;
    margin: 0 0 10px 10px;
    letter-spacing: 1.5px;
}
.icon{
    max-width: 50px;
    max-height: 50px;
    float: right;
    margin: -55px 10px 0 0;
}

#look-me{
    margin-top: 5px;
    display: block;
    width: 100%;
    height: 60px;
}
#look-me marquee{
    line-height: 14px;
    font-size: 14px;
    margin: 1px 0;
    color: white;
    font-family: 'Kalam', cursive;
}

#ratesTable{
    width: 99.5%;
}
.container{
    width: 100%;
    min-height: 240px;
    background-color: rgba(0, 0, 0, 0.4);
    border: hsla(152, 100%, 60%) 1px solid;
    border-bottom-width: 0;
    margin: 5px 0;
}
.container h3{
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    padding-left: 8px;
    color: #ffffff;
    border: hsla(152, 100%, 60%) 1px solid;
    line-height: 40px;
}
.container h3 span{
    float: right;
    padding-right: 5px;
    text-shadow: rgb(255, 255, 255) -1px 1px;
}
.container ul{
    text-align: center;
}
.container ul li{
    list-style: none;
    width: 100%;
    height: 40px;
    margin: 2px 0;
    text-transform: uppercase;
    font-family: 'Kalam', cursive;
}


.detail{
    width: 70%;
    height: 30px;
    font-size: 20px;
    font-weight: 900;
    text-align: start;
}
.tag{
    width: 30%;
    float: right;
    margin-top: -30px;
    padding-right: 5px;
    height: 30px;
    font-weight: 900;
    text-align: end;
}
.status{
    width: 100%;
    height: 10px;
    font-size: 10px;
    color: rgb(150, 240, 0);
}

.info{
    cursor: pointer;
    margin: 0 0 0 5px;
    padding: 5px 5px 0 0;
    font-size: 15px;
    text-shadow: #ffffff -1px 1px, #ffffff -1px -1px;
}
.name{
    text-shadow: #000000 -1px 1px;
}

.rate{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 0 2px;
}
.per{
    font-size: 12px;
}

.stock{
    float: left;
    margin-left: 5px;
}
.inStock{
    color: rgb(0, 255, 0);
}
.outOfStock{
    color: rgb(255, 100, 0);
}
.eta{
    float: right;
    margin-right: 5px;
}
.container ul li::after{
    content: "";
    display: block;
    width: calc(100% - 5px);
    height: 1px;
    background: rgb(255, 255, 255);
    margin: 3px 0 0 2.5px;
}

#ad{
    width: 100%;
    min-height: 100px;
    border: hsla(186, 100%, 69%, 1) 1px solid;
    border-radius: 5px;
    background-color: hsla(152, 100%, 50%, 0.5);
}

#getrate{
    cursor: pointer;
    display: block;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 40px;
    right: 30px;
    font-size: 25px;
    background-color: #2284ff;
    border: rgb(0, 0, 0) 3px solid;
    border-radius: 50%;
    z-index: 100;
    box-shadow: rgb(255, 255, 255) -1px 1px, rgb(255, 255, 255) 1px -1px;
}

#foot{
    margin: 5px 0;
    width: 100%;
    text-align: center;
    font-size: 10px;
    margin-bottom: 30px;
    background: rgb(0, 0, 0);
    font-weight: 300;
    color: rgb(255, 255, 255);
}
#ln_selector{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
}
#discri{
    width: 95%;
}
.lns{
    width: 30%;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Kalam', cursive;
    background-color: #2285ff3b;
    color: rgb(255, 255, 255);
    margin: 2px;
}
.glob-links{
    display: inline-block;
    font-size: 12px;
    margin: 1px 2px;
    padding: 1px;
    text-decoration: none;
    background-color: hsla(186, 100%, 69%, .1);
    color: yellow;
}
.pro-links-div{
    width: 90%;
    margin: 10px 5%;
    border-radius: 5px;
}
.pro-links{
    display: inline-block;
    min-width: 20%;
    margin: 5px;
    padding: 3px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.75);
    color: rgb(0, 0, 0);
}

#toastBlock{
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(40, 40, 40);
}
#toastBlock span{
    display: block;
    width: 100%;
    padding: 5px 0;
    color: rgb(255, 200, 0);
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 100;
    font-family: 'Kalam', cursive;
    text-transform: uppercase;
    text-align: center;
    z-index: 99;
}