/*  
font-family: 'Poppins', sans-serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 0);
}
#head{
    width: 100%;
    height: 60px;
    position: sticky;
    top: 0;
    background: hsla(152, 100%, 50%, 1);
    background: linear-gradient(90deg, rgb(0, 255, 155) 0%, rgb(50, 150, 255) 100%);
    font-family: 'Poppins', sans-serif;
    color: black;
    text-shadow: rgb(255, 255, 255) -1px 1px;
    text-transform: uppercase;
    z-index: 100;
}
.head-contain{
    width: 100%;
}
.head-name{
    width: 80%;
}
#head h1{
    line-height: 30px;
    padding: 3px 0 2px 0;
    margin-left: 10px;
    letter-spacing: 3.5px;
}
#head h2{
    line-height: 15px;
    margin: 2px 0 8px 10px;
    letter-spacing: 1.5px;
}
.icon{
    max-width: 50px;
    max-height: 50px;
    float: right;
    margin: -55px 10px 0 0;
}

#look-me{
    margin-top: 5px;
    display: block;
    width: 100%;
    height: 60px;
}
#look-me marquee{
    line-height: 14px;
    font-size: 14px;
    margin: 1px 0;
    color: #ffc83d;
    font-family: cursive;
}
#search{
    position: sticky;
    top: 60px;
    width: 100%;
    height: 30px;
    margin: 5px 0 0 0;
    padding: 2px 5px;
    color: #ffffff;
    border: 1px solid rgb(33, 33, 110);
    background-color: #355d6e;
    z-index: 100;
}
#ratesTable{
    width: 99.5%;
    min-height: 80vh;
}
.table-contain{
    width: 100%;
}
.table-contain:empty{
    content: 'oh ooh! no match!';
}
.container{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border: hsla(152, 100%, 60%) 1px solid;
    border-bottom-width: 0;
    margin: 5px 0;
}
.container h3{
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
    padding-left: 8px;
    color: #ffffff;
    border: hsla(152, 100%, 60%) 1px solid;
    line-height: 40px;
}
.container h3 span{
    float: right;
    padding-right: 5px;
    text-shadow: rgb(255, 255, 255) -1px 1px;
}
.container ul{
    text-align: center;
}
.container ul:empty{
    content: ':(';
    height: 30px;
    text-transform: uppercase;
    color: #000000;
    background-color: #a38c53;
    text-align: center;
}
.container ul li{
    list-style: none;
    width: 100%;
    height: 40px;
    margin: 1px 0;
    text-transform: uppercase;
}
.container ul li::after{
    content: "";
    display: block;
    width: calc(100% - 5px);
    height: 1px;
    background: rgb(0, 165, 41);
    margin: 3px 0 0 2.5px;
}
.container ul li:last-child::after{
    display: none;
}
.info{
    cursor: pointer;
    margin: 0 0 0 5px;
    padding: 5px 5px 0 0;
    font-size: 15px;
    text-shadow: #ffffff -1px 1px;
}
.detail{
    width: 70%;
    height: 30px;
    font-size: 20px;
    font-weight: 900;
    text-align: start;
}
.tag{
    width: 30%;
    float: right;
    margin-top: -30px;
    padding-right: 5px;
    height: 30px;
    font-weight: 900;
    text-align: end;
}
.status{
    width: 100%;
    height: 10px;
    font-size: 10px;
    color: rgb(150, 240, 0);
}
.name{
    text-shadow: #000000 -1px 1px;
}

.rate{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    padding: 0 2px;
}
.per{
    font-size: 12px;
}

.stock{
    float: left;
    height: 10px;
    margin-left: 5px;
}
.inStock{
    color: rgb(0, 255, 0);
}
.outOfStock{
    color: rgb(255, 100, 0);
}
.eta{
    float: right;
    height: 10px;
    margin-right: 5px;
}
#ad{
    width: 100%;
    border: hsla(186, 100%, 69%, 1) 1px solid;
    border-radius: 5px;
    background-color: hsla(152, 100%, 50%, 0.5);
}

#getrate{
    cursor: pointer;
    display: block;
    width: 60px;
    height: 60px;
    position: fixed;
    top: 40%;
    right: 30px;
    font-size: 25px;
    border-radius: 50%;
    border-width: 0;
    background-color: #474747;
    text-shadow: #ffffff -2px 1px 5px;
    box-shadow: #ffffff -1px 1px 5px, #ffffff 1px 1px 5px;
    z-index: 100;
}
.foot{
    margin: 5px 1%;
    width: 98%;
    text-align: start;
    margin-bottom: 30px;
    font-weight: 300;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
#ln_selector{
    width: 100%;
    margin: 5px 0;
    text-align: start;
    justify-content: center;
}
#discri{
    display: inline-block;
}
.lns{
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #2285ff3b;
    color: #ffc83d;
    margin: 0 2px;
    padding: 0 5px;
}
.about{
    margin: 5px 0;
}
.about h4{
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    color: #cc9e29;
    font-weight: 100;
    letter-spacing: 3px;
}
.about p{
    width: 90%;
    text-align: justify;
}
.glob-links{
    display: inline-block;
    margin: 1px 2px;
    padding: 1px;
    text-decoration: none;
    background-color: hsla(186, 100%, 69%, .1);
    color: #ffc83d;
}
.pro-links-div{
    width: 100%;
    margin: 5px 0;
    border-radius: 5px;
}
.pro-links{
    display: inline-block;
    min-width: 20%;
    margin: 3px;
    padding: 3px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.75);
    color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}

#toastBlock{
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(40, 40, 40);
}
#toastBlock span{
    display: block;
    width: 100%;
    padding: 5px 0;
    color: #ffc83d;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
    z-index: 99;
}

@media only screen and (min-width: 800px) {
    .head-contain{
        width: 90%;
        margin: 0 5%;
    }
    .table-contain{
        width: 70%;
        margin: 0 30% 0 0;
    }
    #ad{
        width: 30%;
        position: absolute;
        top: 185px;
        right: 0;
    }
    .foot{
        width: 70%;
    }
    #getrate{
        cursor: pointer;
        display: block;
        width: 60px;
        height: 60px;
        position: fixed;
        bottom: 40px;
        right: 30px;
        font-size: 25px;
        border-radius: 50%;
        border: 2px #ffc83d solid;
        background-color: #2ca3f2;
        text-shadow: #000000 -2px -2px 5px;
        z-index: 100;
        transition: 500ms;
    }
    #getrate:hover{
        background-color: #000000;
        text-shadow: #ffc83d -2px -2px 5px, #ffc83d 2px -2px 5px, #ffc83d -2px 2px 5px, #ffc83d 2px 2px 5px;
    }
}