@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Ultra&display=swap');
/*  
    font-family: 'Kalam', cursive;
    font-family: 'Ultra', serif;
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 0);
}
#head{
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    text-align: center;
    background: hsla(152, 100%, 50%, 1);
    background: linear-gradient(90deg, hsl(286.9, 100%, 50.8%) 0%, hsl(202.6, 100%, 50%) 100%);
    font-family: 'Ultra', serif;
    letter-spacing: 3px;
    text-shadow: rgb(0, 0, 0) -2px 2px, rgb(255, 0, 255) 2px -2px;
    text-transform: uppercase;
    z-index: 100;
}
#head h1{
    line-height: 40px;
    padding: 10px 0 0 0;
    text-decoration: underline;
}
#head h2{
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 5px 0;
}
#look-me{
    margin: 5px 0;
    display: block;
    width: 100%;
    height: 60px;
    background: linear-gradient(45deg, rgb(230, 130, 255) 0%,rgb(0, 195, 255) 100%);
}
#look-me marquee{
    line-height: 20px;
    font-size: 18px;
    font-family: 'Kalam', cursive;
    color: rgb(0, 0, 0);
    text-shadow: rgb(255, 255, 0) -2px 1px, rgb(255, 255, 255) 1px -1px;
}
#ratesTable{
    width: 100%;
}
.container{
    width: 100%;
    min-height: 240px;
    background-color: rgba(0, 0, 0, 0.4);
    border: hsla(152, 100%, 60%) 1px solid;
    border-bottom-width: 0;
    margin: 5px 0;
}
.container h3{
    text-align: left;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Ultra', serif;
    font-weight: 100;
    letter-spacing: 2px;
    padding-left: 8px;
    color: #ffc83d;
    text-shadow: #2284ff -1px 1px;
    border: hsla(152, 100%, 60%) 1px solid;
    line-height: 40px;
}
.container h3 span{
    float: right;
    padding-right: 5px;
    text-shadow: rgb(255, 255, 255) -1px 1px;
}
.container ul{
    text-align: center;
}
.container ul li{
    list-style: none;
    width: 99%;
    height: 40px;
    margin: 5px 5px;
    text-transform: uppercase;
    font-family: 'Kalam', cursive;
}
.detail{
    height: 25px;
    font-weight: 900;
}
.status{
    height: 15px;
    font-size: 10px;
    color: yellow;
    max-height: 15px;
}
.name{
    float: left;
    margin: 0 0 0 10px;
    max-height: 25px;
}
.tag{
    float: right;
    margin: 0 10px 0 0;

}
.rate{
    max-height: 25px;
    font-family: 'Ultra', serif;
    padding: 0 5px;
    background-color: tomato;
}
.per{
    height: 15px;
    margin-top: 10px;
    font-size: 10px;
}
.stock{
    float: left;
    margin: 0 0 0 10px;
}
.inStock{
    color: yellowgreen;
    max-height: 15px;
}
.outOfStock{
    color: tomato;
    max-height: 15px;
}
.eta{
    position: absolute; 
    right: 0;
    margin: 0 2% 0 0;
    max-height: 15px;
}
.container ul li::after{
    content: "";
    display: block;
    width: 99%;
    height: 1px;
    background: rgb(255, 255, 255); 
}

#ad{
    width: 100%;
    min-height: 100px;
    border: hsla(186, 100%, 69%, 1) 1px solid;
    border-radius: 5px;
    background-color: hsla(152, 100%, 50%, 0.5);
}
#getrate{
    cursor: pointer;
    display: block;
    width: 60px;
    height: 60px;
    position: fixed;
    bottom: 100px;
    right: 30px;
    font-size: 25px;
    background-color: #2284ff;
    border: rgb(0, 0, 0) 3px solid;
    border-radius: 50%;
    z-index: 100;
    box-shadow: rgb(255, 200, 0) -1px 1px 1px;
}
#foot{
    margin: 10px 0;
    width: 100%;
    text-align: center;
    font-family: 'Ultra', serif;
    font-size: 10px;
    margin-bottom: 30px;
    background: rgb(0, 0, 0);
    font-weight: 300;
    color: rgb(255, 255, 255);
}
.glob-links{
    display: inline-block;
    font-size: 12px;
    margin: 1px 2px;
    padding: 1px;
    text-decoration: none;
    background-color: hsla(186, 100%, 69%, .1);
    color: yellow;
}
.pro-links-div{
    width: 90%;
    margin: 10px 5%;
    border-radius: 5px;
}
.pro-links{
    display: inline-block;
    min-width: 20%;
    margin: 5px;
    padding: 3px;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.75);
    color: rgb(0, 0, 0);
}
#toastBlock{
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(40, 40, 40);
}
#toastBlock span{
    display: block;
    width: 100%;
    padding: 5px 0;
    color: rgb(255, 200, 0);
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 100;
    font-family: 'Kalam', cursive;
    text-transform: uppercase;
    text-align: center;
    z-index: 99;
}